@import url(https://fonts.googleapis.com/css?family=Righteous);

.header{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 100%;
    font-size: 28px;
    font-family: Righteous;
}
.icon{
    width: 25vmin;
    height: 25vmin;
    border-radius: 50%;
}
.body{
    border: 1px solid black;
    text-align: center;
}
.footer{
    border: 1px solid black;
    text-align: center;
}